<div class="login_container">
<!--    <input type="radio" id="loginPage" name="login-page" checked>-->
<!--    <input type="radio" id="registrationPage" name="login-page">-->

<!--    <label class="label label-login" for="loginPage">Log in</label>-->
<!--    <label class="label label-registration" for="registrationPage">Registration</label>-->

    <ul class="tabs">
        <li class="tab col s6 label"><a href="#login" class="active">Login</a></li>
        <li class="tab col s6 label"><a href="#registration">Registration</a></li>
    </ul>


    <div id="login" class="auth_box login-box col s6 ">

        {{#if loginError}}
            <p class="login-error">{{loginError}}</p>
        {{/if}}
        {{#if passwordError}}
            <p class="login-error">{{passwordError}}</p>
        {{/if}}

        <form action="/auth/login" method="post">
            <div class="input-field ">
                <input name="email" id="email" type="email" class="validate registration_forms" required>
                <label for="email" class="registration_label">Email</label>
                <span class="helper-text" data-error="invalid email"></span>
            </div>

            <div class="input-field ">
                <input name="password" id="password" type="password" class="validate registration_forms" required>
                <label for="password" class="registration_label">Password</label>
                <span class="helper-text" data-error="invalid password"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <p class="link_to_recover_pass"><a href="/auth/reset">Forgot the password</a></p>
            <button class="btn-primary btn-registration" type="submit">Log in</button>
        </form>
    </div>


    <div id="registration" class="auth_box registration-box">

        {{#if registrationError}}
            <p class="login-error">{{registrationError}}</p>
        {{/if}}
<!--        {{#if loginError}}-->
<!--            <p class="login-error">{{loginError}}</p>-->
<!--        {{/if}}-->
<!--        {{#if passwordError}}-->
<!--            <p class="login-error">{{passwordError}}</p>-->
<!--        {{/if}}-->

        <form action="/auth/registration" method="post" novalidate>
            <div class="input-field ">
                <input name="name" id="name" type="text" class="validate registration_forms" required>
                <label for="name" class="registration_label">Name</label>
                <span class="helper-text" data-error="invalid name"></span>
            </div>

            <div class="input-field ">
                <input name="email" id="email" type="email" class="validate registration_forms" required>
                <label for="email" class="registration_label">Email</label>
                <span class="helper-text" data-error="invalid email"></span>
            </div>

            <div class="input-field ">
                <input name="password" id="rpassword" type="password" class="validate registration_forms" required>
                <label for="rpassword" class="registration_label">Password</label>
                <span class="helper-text" data-error="invalid password"></span>
            </div>

            <div class="input-field ">
                <input name="confirm" id="confirm" type="password" class="validate registration_forms" required>
                <label for="confirm" class="registration_label">Repeat password</label>
                <span class="helper-text" data-error="incorrect repeat"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn-primary btn-registration" type="submit">Registration</button>
        </form>
    </div>
</div>
