<div class="header_nav_wrap">
    <div class="header_nav">
        <nav class="navigation">
            <ul class="header_nav_bar">
                {{#if isHome}}
                    <li class="nav_item nav_item-active item_1"><a href="/">Home</a></li>
                {{else}}
                    <li class="nav_item item_1 "><a href="/">Home</a></li>
                {{/if}}

                {{#if isProducts}}
                    <li class="nav_item nav_item-active item_2"><a href="/products">Products</a></li>
                {{else}}
                    <li class="nav_item item_2"><a href="/products">Products</a></li>
                {{/if}}

                {{#if isAbout}}
                    <li class="nav_item nav_item-active"><a href="/about">About Us</a></li>
                {{else}}
                    <li class="nav_item"><a href="/about">About Us</a></li>
                {{/if}}

                {{#if isAuth}}
                    {{#if isAdd}}
                        <li class="nav_item nav_item-active"><a href="/add">Add Product</a></li>
                    {{else}}
                        <li class="nav_item"><a href="/add">Add Product</a></li>
                    {{/if}}

                    {{#if isOrder}}
                        <li class="nav_item nav_item-active"><a href="/orders">Orders</a></li>
                    {{else}}
                        <li class="nav_item"><a href="/orders">Orders</a></li>
                    {{/if}}
                {{else}}
                {{/if}}

            </ul>
            <ul class="header_nav_bar_right">

                {{#if isAuth}}

                    {{#if isProfile}}
                        <li class="nav_item nav_item-active"><a href="/profile">Profile</a></li>
                    {{else}}
                        <li class="nav_item"><a href="/profile">Profile</a></li>
                    {{/if}}

                    {{#if isCard}}
                        <li class="nav_item nav_item-active" id="nav_item_cart">
                            <a href="/cart">
                                <i class="basket fas fa-shopping-basket" id="basket"></i>
                                <span id="cart_summarise_prise" class="prod-currency"></span>
                            </a>
                        </li>
                    {{else}}
                        <li class="nav_item" id="nav_item_cart">
                            <a href="/cart">
                                <i class="basket fas fa-shopping-basket" id="basket"></i>
                                <span id="cart_summarise_prise" class="prod-currency"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{#if isLogin}}
                        <li class="nav_item nav_item-active"><a href="/auth/logout">LogOut</a></li>
                    {{else}}
                        <li class="nav_item"><a href="/auth/logout">LogOut</a></li>
                    {{/if}}
                {{else}}
                    {{#if isLogin}}
                        <li class="nav_item nav_item-active"><a href="/auth/login">Login</a></li>
                    {{else}}
                        <li class="nav_item"><a href="/auth/login">Login</a></li>
                    {{/if}}
                {{/if}}

            </ul>
        </nav>
    </div>
</div>
<div class="header_undernav_wrap">
    <div class="header_undernav">

        <div class="logo_box">
            <div class="logo_left">
                <div class="crown"><i class="icon_crown fas fa-crown"></i></div>
                <p class="logo_left_word word_1">SPORTS</p>
            </div>
            <div class="logo_right">
                <p class="logo_right_word">HOLD</p>
            </div>
        </div>

        <ul class="undernav_nav">
            <li class="undernav_item">Home</li>
            <li class="undernav_item">Men</li>
            <li class="undernav_item">Women</li>
            <li class="undernav_item">Children</li>
            <li class="undernav_item">Baby</li>
            <li class="undernav_item">Brands</li>
            <li class="undernav_item">Sale</li>
        </ul>
    </div>
</div>

<!--<script>-->
<!--    fetch(`/cart/sum`)-->
<!--            .then(data => data.json())-->
<!--            .then(data => {-->
<!--                const navCart = document.getElementById('cart_summarise_prise')-->
<!--                if (navCart) {-->
<!--                    navCart.textContent = data-->
<!--                }-->
<!--            })-->
<!--</script>-->
